/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan. 12, 2022, 8:54:42 p.m.
    Author     : Kevin
*/

h1 {
    color: navy;
}

label {
    margin: 0;
    display: block;
}